<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34045069039-r55e2v9h0jai2b955d7leivn5at15otd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34045069039-r55e2v9h0jai2b955d7leivn5at15otd</string>
	<key>API_KEY</key>
	<string>AIzaSyDSrwy25Fp5YXz1umwxjkJEY-RLg_VynpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>34045069039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamsaturday.EnvisMob</string>
	<key>PROJECT_ID</key>
	<string>envis-e3b45</string>
	<key>STORAGE_BUCKET</key>
	<string>envis-e3b45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34045069039:ios:3b0bd6bf2422d5fd257d1a</string>
</dict>
</plist>